.cat-gallery-page {
  min-height: 100vh;
  background: #F7FBF4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  .title {
    color: #0A4D28;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .description {
    color: #6B6B6B;
    max-width: 600px;
    text-align: center;
        margin-bottom: -4rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);

    .card {
      flex: 1;
      transition: all 1s ease-in-out;
      height: 75vmin;
      position: relative;

      .card__head {
        color: #0A4D28;
        background: #E4F3DC;
        padding: 0.5em;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 0.5s ease-in-out;
        min-width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1em;
        white-space: nowrap;
        font-weight: 700;
      }

      &:hover {
        flex-grow: 10;

        img {
          filter: grayscale(0);
        }

        .card__head {
          top: calc(100% - 2em);
          color: white;
          background: rgba(0, 0, 0, 0.5);
          font-size: 2em;
          transform: rotate(0deg) skew(-5deg);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: grayscale(100%);
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}

html[data-theme="dark"] {
  .cat-gallery-page {
    background: #09160f;

    .title {
      color: #E4F3DC;
    }

    .description {
      color: #E4F3DC;
    }

    .container {
      .card {
        .card__head {
          background: #0A4D28;
          color: #E4F3DC;
        }

        &:hover {
          .card__head {
            background: #0A4D28;
            color: white;
          }
        }
      }
    }
  }
}

